# =========================
# OS & Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# ENV files (ALL projects)
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# FRONTEND (React)
# =========================
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.cache/
frontend/.parcel-cache/
frontend/.next/
frontend/out/

# =========================
# BACKEND (Node/Express)
# =========================
backend/node_modules/
backend/_pycache_/
backend/venv/
backend/tmp/

venv